*{
    margin:0px;
    padding: 0px;
}
.wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    .exampleBox {
        overflow: hidden;
        position: relative;
        border: 1px solid #ccc;
        width: 88%;
        box-sizing: border-box;
        margin: 10px 6%;
        p{
            line-height: 24px;
            color: #888;
        }
    }
    .area{
        padding: 20px 40px;
    }
    .sliderBox{
        border: 1px solid #ccc;
        height: 350px;
    }
    .forkMe{
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .bold{
        color:#c40000;
    }
}