* {
  margin: 0px;
  padding: 0px;
}
.wrapper-2AAVH {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.wrapper-2AAVH .exampleBox-29Huz {
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  width: 88%;
  box-sizing: border-box;
  margin: 10px 6%;
}
.wrapper-2AAVH .exampleBox-29Huz p {
  line-height: 24px;
  color: #888;
}
.wrapper-2AAVH .area-1Gw3M {
  padding: 20px 40px;
}
.wrapper-2AAVH .sliderBox-1U6k_ {
  border: 1px solid #ccc;
  height: 350px;
}
.wrapper-2AAVH .forkMe-29DXt {
  position: absolute;
  top: 0px;
  right: 0px;
}
.sliderBox-1OJBq {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sliderBox-1OJBq,
.sliderBox-1OJBq * {
  box-sizing: border-box;
}
.dotBox-1YDUw {
  position: absolute;
  width: 100%;
}
.dotBox-1YDUw .dots-GBEyp {
  overflow: hidden;
}
.dotBox-1YDUw .dots-GBEyp li {
  position: relative;
}
.dotBox-1YDUw .dots-GBEyp li .gallery-mask-32pLR {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.6);
}
.arrows-NXfdO {
  height: 100%;
  position: relative;
}
.arrows-NXfdO .arrow-ikhpe {
  position: absolute;
  cursor: pointer;
  font-size: 48px;
  color: #fff;
  height: 50px;
  line-height: 50px;
}
.arrows-NXfdO .left-jb-7m {
  left: 0px;
}
.arrows-NXfdO .right-2C2jU {
  right: 0px;
}
.sliders-2NHWu {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}
.sliders-2NHWu li {
  float: left;
  list-style: none;
}
.infoBox-qmq5_ {
  position: relative;
  border-top: 1px dashed #ccc;
  padding: 0px 10px;
}
.infoBox-qmq5_ .title-23o8l {
  position: absolute;
  line-height: 28px;
  top: -14px;
  left: 30px;
  padding: 0px 10px;
  background-color: #fff;
}
.infoBox-qmq5_ .info-SCv5p {
  position: relative;
  padding: 20px 10px 10px;
  line-height: 22px;
  color: #999;
}
.infoBox-qmq5_ .codeBtn-1kMC1 {
  position: absolute;
  right: 0px;
  bottom: 10px;
}
.infoBox-qmq5_ .codeBox-3Ger1 {
  background-color: #333;
  color: #fff;
}
