* {
  margin: 0px;
  padding: 0px;
}
.wrapper-1MpWX {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.wrapper-1MpWX .exampleBox-1GtS2 {
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  width: 88%;
  box-sizing: border-box;
  margin: 10px 6%;
}
.wrapper-1MpWX .exampleBox-1GtS2 p {
  line-height: 24px;
  color: #888;
}
.wrapper-1MpWX .area-10mJu {
  padding: 20px 40px;
}
.wrapper-1MpWX .sliderBox-3VkIG {
  border: 1px solid #ccc;
  height: 350px;
}
.wrapper-1MpWX .forkMe-2nyxS {
  position: absolute;
  top: 0px;
  right: 0px;
}
.wrapper-1MpWX .bold-107j- {
  color: #c40000;
}
.sliderBox-1MmUg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sliderBox-1MmUg,
.sliderBox-1MmUg * {
  box-sizing: border-box;
}
.dotBox-3zRnJ {
  position: absolute;
  width: 100%;
}
.dotBox-3zRnJ .dots-3rAdw {
  overflow: hidden;
}
.dotBox-3zRnJ .dots-3rAdw li {
  position: relative;
}
.dotBox-3zRnJ .dots-3rAdw li .gallery-mask-5vMU9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.6);
}
.arrows-1qk_3 {
  height: 100%;
  position: relative;
}
.arrows-1qk_3 .arrow-1kkS3 {
  position: absolute;
  cursor: pointer;
  font-size: 48px;
  color: #fff;
  height: 50px;
  line-height: 50px;
}
.arrows-1qk_3 .left-3ackY {
  left: 0px;
}
.arrows-1qk_3 .right-2j20K {
  right: 0px;
}
.sliders-2DYvM {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}
.sliders-2DYvM li {
  float: left;
  list-style: none;
}
.infoBox-3tq4A {
  position: relative;
  border-top: 1px dashed #ccc;
  padding: 0px 10px;
}
.infoBox-3tq4A .title-2Cx8a {
  position: absolute;
  line-height: 28px;
  top: -14px;
  left: 30px;
  padding: 0px 10px;
  background-color: #fff;
}
.infoBox-3tq4A .info-SeMmn {
  position: relative;
  padding: 20px 10px 10px;
  line-height: 22px;
  color: #999;
}
.infoBox-3tq4A .codeBtn-e3suN {
  position: absolute;
  right: 0px;
  bottom: 10px;
}
.infoBox-3tq4A .codeBox-1eW5I {
  background-color: #333;
  color: #fff;
}
